@font-face {
    src: url(fonts/Catilde\ light.otf);
    font-family: catilde;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 30px;
    left: 3%;
}

h1 {
    position: absolute;
    color: white;
    left: 38px;
    font-family: catilde;
}

h3 {
    color: white;
    border: 1px solid white;
    text-align: center;
    width: 150px;
    font-size: 25px;
}

ul {
    font-size: 20px;
}

li:hover {
    background-color: red;
    width: 100px
}

.lab {
    position: absolute;
    top: 180px;
    left: 350px;
}

.studio {
    position: absolute;
    top: 180px;
    left: 30px;
}