body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 45px;
}

a {
    text-decoration: none;
}

header {
    padding: 0;
    margin: 0;
}

.discription {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 860px;
}

.button {
    position: absolute;
    background-color: black;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}

li:hover {
    background-color: black;
    color: white;
}