body {
    background-color: black;
}

header {
    text-align: center;
    padding: 0;
}

ul {
    padding: 5rem 14rem;
    margin: 0;
    text-align: left;
    list-style: none;
}

.navigation {
    font-family: monospace;
    padding: .5rem 0rem;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin-left: 3rem;
}

.navigation li {
    display: inline-block;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.underline {
    color: red;
    text-decoration: 1px solid red;
    font-size: 0.9rem;
}

.navigation li {
    display: inline-block;
    position: relative;
}

.navigation li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}