@font-face {
    font-family: 'Wade Sans';
    src: url(./font/WadeSansLight/WadeSansLightPlain.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

ul {
    text-align: left;
    color: rgb(187, 179, 179);
    list-style: none;
}

hr {
    border-bottom: 1px solid white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
}

header {
    text-align: center;
    padding: 0;
}

.navigation {
    padding: 0rem 0rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

li:hover {
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Wade Sans';
    font-size: 3.8rem;
    letter-spacing: 10px;
    line-height: 30px;
}

#redemption {
    letter-spacing: 24px;
}

.info {
    width: 400px;
}

#director {
    text-transform: uppercase;
    color: brown;
    font-size: 23px;
    line-height: 20rpx;
    position: absolute;
    left: 37.5rem;
    top: 18.5rem;
    font-size: 1.3rem;
}

#caption {
    width: 500px;
    line-height: 20px;
    color: grey;
    position: absolute;
    left: 29rem;
    top: 21rem;
    font-size: 1.3rem;
}

h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: serif;
    font-family: 'Wade Sans';
    letter-spacing: 3px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: black;
    color: white;
    /* width: 800px; */
}

main {
    padding: 11rem 7rem;
}

#yes {
    color: brown;
}

#yes:hover {
    color: red;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#yes:active {
    color: white;
}

#fella {
    color: brown;
}

#fella:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 300px;
}