@font-face {
    font-family: 'BD Geminis';
    src: url('./font/BDGeminis.woff2') format('woff2'), url('./font/BDGeminis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgb(202, 202, 202);
    /* background-color: black; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF0000;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    height: 3.5rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 1.3rem;
    border: 3px solid black;
    background-color: white;
}

h1 {
    color: black;
    font-family: 'BD Geminis';
    font-size: 3em;
}

h2 {
    color: black;
    font-family: 'BD Geminis';
    font-size: 2.2em;
}

.navbox-fact {
    margin: 0;
    border-left: 3px solid black;
    height: 5.5rem;
    width: 1rem;
    position: absolute;
    right: 8rem;
    top: 0.5rem;
}

main {
    background-color: black;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    row-gap: 20px;
    background-color: black;
    padding: 20px;
}

.grid-item {
    background-color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

#item-one {
    background-color: #FCD900;
}

#item-two {
    background-color: #40DFEF;
}

#item-three {
    background-color: red;
}

#item-four {
    background-color: #93FFD8;
}

#item-five {
    background-color: #83BD75;
}

#item-six {
    background-color: #FFA1A1;
}

#item-seven {
    background-color: #A85CF9;
}

#item-eight {
    background-color: #890F0D;
}

#item-nine {
    background-color: #0E3EDA;
}

#item-ten {
    background-color: #FAFDD6;
}

#item-eleven {
    background-color: #827397;
}

#item-twelve {
    background-color: #22577E;
}

#item-thirteen {
    background-color: #E8630A;
}

#item-fourteen {
    background-color: #FFF89A;
}

#item-fifteen {
    background-color: #BAFFB4;
}

#item-sixteen {
    background-color: #74959A;
}

#item-seventeen {
    background-color: #9ADCFF;
}

#item-eighteen {
    background-color: #D82148;
}

@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
        height: 5rem;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem;
        padding-right: 1.3rem;
        border: 2px solid black;
        background-color: white;
    }
    h1 {
        color: black;
        font-family: 'BD Geminis';
        font-size: 2.3em;
    }
    h2 {
        color: black;
        font-family: 'BD Geminis';
        font-size: 2.2em;
    }
}