body {
    background-color: #a189ef;
}

h1 {
    color: #f0f0ee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 3em;
}

h2 {
    line-height: 0.6em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.shelf {
    border-bottom: 10px solid black;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-end;
}

.shelf .book-spine {
    background: aliceblue;
    color: salmon;
    height: 300px;
    width: 250px;
    padding: 10px;
    margin-bottom: 2px;
    margin-right: 2px;
    /*   height: 300px;
    width: fit-content; 
    padding: 10px 0px; 
    transform: rotate(180deg);
    writing-mode: vertical-lr; */
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.shelf .book-spine.active {
    background: lime;
}

.shelf .book-spine:hover {
    background: #ff0000;
}

.book-detail {
    display: flex;
    margin-top: 30px;
}

.book-detail .figure {
    width: 200px;
    flex: none;
    margin-right: 30px;
}

.book-detail .cover-image {
    width: 100%;
    /*   border: 5px solid black; */
    padding: 5px;
    box-sizing: border-box;
}

.book-detail .info {
    max-width: 600px;
}

.book-detail .title {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
}

.book-detail .description {
    margin-top: 0.5em;
    font-size: 36px;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .book-detail {
        flex-direction: column;
    }
    .book-detail .figure {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2em;
    }
}