      body {
          padding: 1rem;
          margin: 0;
          background-color: white;
          font-family: Arial, Helvetica, sans-serif;
      }
      
      h1 {
          font-size: 3rem;
          padding-left: 3rem;
          padding-top: 1rem;
          margin: 0;
      }
      
      h2 {
          font-size: 1.6rem;
          padding: 0 3rem;
      }
      
      img {
          width: 20rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
      }
      
      .image-small ul {
          display: flex;
          justify-content: center;
      }
      
      li {
          list-style: none;
      }
      
      article {
          padding: 0 3rem;
          font-size: 1rem;
          line-height: 1.2rem;
      }
      
      @media only screen and (min-width: 992px) {
          h1 {
              font-size: 6rem;
          }
          article {
              padding: 0 3rem;
              font-size: 1.2rem;
              line-height: 1.56rem;
          }
          img {
              width: 40rem;
              padding: 1rem;
              display: flex;
              justify-content: center;
          }
      }